$pastelPeach: rgb(255,202,184);
$pastelYellow: rgb(251,251,212);
$pastelBlue: rgb(241,249,252);
$pastelPink: rgb(239,239,244);


//fonts

$cursive: 'Homemade Apple', cursive;
$main:  'Montserrat', sans-serif;