article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
import Flickity from 'flickity-imagesloaded';
import 'flickity/dist/flickity.css';


.head-nav{
	font-family: 'Homemade Apple', cursive;
	display:inline-flex;
	justify-content:flex-start;
	align-items:space-between;




}
body {
	
	background-color:#F2E6E8;
	margin:0 auto;
	color:#49464B;

}

h1 {
	font-family: 'Homemade Apple', cursive;
	color:	#49464B;
	font-size:2.5rem;
	letter-spacing:3px;
	padding:0;
	line-height:2;
	font-weight:100;
	text-align:center;
	}

h3 {

	font-family: 'Homemade Apple', cursive;
	color:rgb(223,204,204);	
}
header {
	margin-top:20px;
	}

body {
	margin:0 auto;
	letter-spacing:2px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing:2px;
	overflow-x:hidden;
	 position: relative;
 
  padding-bottom: 6rem;
  min-height: 100%;
	

}

form {
	text-align:left;
}
input, label {
	width: 100%;
	text-align: left;
	border: none;
}input {
	border: 1px solid grey;
	padding: 10px;
}

h3 {
	font-size:21px;
}
form.addRecipe, .recipe {
	width: 75%;
	margin: 100px auto 0;
	border: 1px solid grey;
	padding: 50px 150px;
	position: relative;
}
input[type=submit] {
	background: #DEB13A
	border-bottom: 2px solid #DEB13A;

	width: auto;
	text-align: left;
}
.navBar {
	color: #F2E6E8;
}
button, input {
	
	border:1px solid #F5E7DD;
	
color:#DEB13A;
	
}

button {
	width:200px;
}
.head-nav {
	display: flex;
	justify-content: space-around;
	
	margin:0 auto;
	width:100%;

	font-size:1.5rem;
}

.menu_items {
	border:1px solid transparent;
	padding:25px;
	
}

li {
list-style:none;
}
.squiggle {
	padding:0;
	margin:0;
	width:30%;
}
.navButton{
	color:#F2E6E8;
}
li.navButton {
	color:#F2E6E8;
}
.sidebar {
	width:100%;
	z-index:14;
	padding:25px;
	margin:0 auto;
	position: absolute;
	top:-1175px;
	bottom:0;
	background: #FFFAFA;
	transition: all .7s ease;
	padding: 0 15px;
	height:100vh;
}

.addRecipe {
	width:50%;
	text-align:center;
	margin:0;
}
.sidebar.show {
	top: 0;
	z-index:10;
}

.sidebar input,
.sidebar textarea {
	width: 100%;
	margin-bottom: 25px;
	background: transparent;
	border: none;
	border-bottom: 2px solid #DEB13A;
}

.sidebar input[type=submit] {
	border: 2px solid #DEB13A;
	color: #49464B
}

.fa-times {
	position: absolute;
	top: 5px;
	right: 5px;
	border: 2px solid #DEB13A;
	color:#DEB13A;

}


.recipe {
	padding: 0 50px;
	display: flex;
	flex-wrap: wrap;
}

.recipeCard {
	background: #E4D4CF;
	height:400px;
	color:#49464B;
	box-shadow: 3px 2px 3px rgba(0,0,0,0.1);
	margin: 15px;
	padding: 10px;
	margin: 100px 5px;
	width:30%;
	float: left;
	padding: 20px;
	text-align: center;
	overflow-x:scroll;
}

a {
	
	color: #DEB13A;


}

.recipeCard h4 {
	margin-top: 0;
	position: relative;
	padding-bottom: 20px;
}

.recipeCard h4:after {
	width: 20px;
	height: 2px;
	background: #182020;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
	content: "";
}
a {


}
.submitRecipe {
	padding:5px;
	margin:5px;
}

.recipeCard input,
.recipeCard textarea {
	border: none;
	background:#F2E6E8;
	border-bottom: 2px solid#49464B;
	margin-bottom: 10px;

}

.recipeCard input[type=submit] {
	width: auto;
	border: 2px solid #182020;
	color: #182020;
	background: #49464B;
}

/*
	Modals
*/.recipeCard .fa-times,
.recipeCard .fa-edit{
	z-index:5;
	position:absolute;
	top:20px;
	right:20px;
}
.modal,
.overlay {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
	position: absolute;
	


}

.modal.show,
.overlay.show {
	visibility: visible;
	opacity: 1;
	
}

.modal {
	width: 400px;
	background:url("../Desktop.png");
	background-repeat:repeat;
	background-size:cover;
	border: 2px solid rgba(255,255,255,0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index:10;
}

.modal div {
	margin: 15px;
	display: flex;
}
.modal label {
	margin-right: 10px;
}

.overlay {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

.recipe-modal {
display:inline-flex;

 white-space: pre-wrap;
    border-radius: 5px;
    text-align: center;
     background: url("../Desktop.png");
    z-index: 11; 
}

.modal-window {
	text-align:center;
	margin:0 auto;
	position:absolute;
 background: url("../Desktop.png")
 background-repeat:repeat;
 background-size:100%;
	top:116px;
	right:0;
	bottom:0;
	left:0;
	z-index:12;
	opacity:0;
	pointer-events:none;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.7s;
	width:40%;
	
}
.modal__box {
	background:transparent;

}
.modal-window:target {
	opacity:1;
	
	 background: url("../Desktop.png");
	
	pointer-events:auto;
}
.modal-window>div {
	 background: url("../Desktop.png");
	position:relative;

	
  padding:2rem;
	
}
.ingredients {
color:#DEB13A;
 margin:5px;
 white-space: pre-wrap;
 padding:5px;
 display:flex;
 display:block;

}
.ingredients:before {
	white-space: pre-wrap;
	display:flex;
	justify-content:center;
	content:"🌻";
	font-size:28px;
	
}
strong{
	font-weight:600;
	color:rgba(0,0,0,.6);
}
p {
	 white-space: pre-wrap;
	 color:#DEB13A;

}
	.recipe-wrapper{
		width:100%;
		overflow-x:scroll;

	}

.modal-window h1 {
  
  margin: 0 0 15px;
}
.recipe-container{
	border:2px solid rgba(0,0,0,.1);
	padding:0;
	display:inline-flex;
	margin:15px;
	flex-direction:column;
	align-items:stretch;
 	background-color: #F2E6E8;
}
img {
	-webkit-filter: opacity(.9) brightness(90%);
  filter: opacity(.9) brightness(90%);;
}
.recipe-links {
	text-align:center;
	padding:10px;
}
.recipe-name {
	font-size:1.2rem;

	display:inline-flex;
	padding:10px;
	overflow-x:hidden;
	margin:0 auto;
	text-align:;
	color:rgba(0,0,0,.5);
	border-bottom:1px solid #DEB13A;
	font-weight:700;
	font-family: 'Homemade Apple', cursive;
}

.recipe-wrapper {
display:inline-flex;
flex-direction:row;
margin:15px;
margin:0 auto;
overflow-x: scroll;
  z-index: 13;
 
}


ul.navBar{
				
margin: 0 auto;
padding: 10px;

display:flex;
justify-content:center;

}
ul.navBar li {
	font-size:1rem;
	list-style: none;
position: relative;
				
			}
ul.navBar li ul {
padding:25px;
display:none;
position: absolute;
padding: 0;
margin: 0;
}
ul.navBar li:hover ul {
	display:block;				
}
ul.navBar li ul li {
	float: none; 
	padding:5px;
		
}

.wrapper__head{
	
width:100%;
margin:0 auto;
display:flex;

	
flex-flow:column;
}
.head-nav {
margin:4px;
padding:5px;
	
	
	

}



button{ 
font-family: 'Montserrat', sans-serif;
border:2px solid #DEB13A;
background:#49464B;


}
.wrapper {
	width:85%;
	margin:0 auto;
	text-align:center;

}
.signIn{
	padding:5px;
	margin:5px;
}
.head-nav {
	display: flex;
	justify-content: space-between;

	background-color: rgba(223,204,204,.3);	
	text-align:right;
	margin:0 auto;

	font-size:.5rem;
}
a {
	font-size:18px;
	color:#49464B;

	text-decoration-color:#DEB13A;

}

.navFoot {
	margin:0;
	padding:0;
	display:inline-flex;
	justify-content:center;
}
.socialMedia{
	padding:0;
	display:inline-flex;
	justify-content:center;
}
p {
	 white-space: pre-wrap;

}
a {
	color: rgba (0,0,0,.3);
}

footer {
	 position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

}
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.wrapper {
		width:100%;
	}
	.modal-window {
		width:480px;
	}
}

@media (max-width:320px) {
	.wrapper__head{
		width:100%;
	}
}
@media (max-width:1024px){

	.wrapper__head{
		width:100%;
	}
	.recipe-wrapper{
		padding:100px;
	}
	.modal-window {
		width:100%;
	}	
}
@media (max-width:768px) {

	.wrapper__head{
		width:100%;

	}
	.recipe-wrapper {
		padding:100px;
	}
		
	.modal-window {
		width:100%;
	}	
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

.wrapper__head {
	width:100%;

}
.modal-window {
		width:100%
	}
}
@media only screen (max-width: 320px) {
	.wrapper__head{
		width:100%;
		margin:0 auto;
		padding:25px;
	}
	.recipe-wrapper{
		width:100%;
		padding:100px;
	}
	.menu_items {
		width:100%;
		padding:0;
		margin:0 auto;

	}
	.modal-window {
		width:80%:;
	}
}


